.screen.active {
    display: block;
}

.primary {
    background: #4f46e5;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

.secondary {
    background: #e5e7eb;
    margin-top: 10px;
}

body {
    background: #f5f7fa;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.screen {
    display: none;
    background: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card {
     border: 2px solid #4f46e5;
    border-radius: 12px;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hint {
    font-size: 14px;
    color: #777;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #555;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.progress {
    width: 100%;
    height: 8px;
    background: #e5e7eb;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    width: 25%;
    height: 100%;
    background: #4f46e5;
}

.progress-text {
    font-size: 14px;
}

#loadingText {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ===== FLIP CARD ANIMATION ===== */

.card {
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 150px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid #4f46e5;
    border-radius: 12px;
    padding: 40px 20px;
    box-sizing: border-box;
}

.card-back {
    transform: rotateY(180deg);
}